---
const { frontmatter, children } = Astro.props;
import Navbar from "../pages/components/Navbar.astro";
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout>
  <a
    href="/blog"
    class="text-lg text-zinc-400 font-bold hover:text-blue-500 transition flex flex-row gap-3 items-center"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-arrow-left"
      ><path d="m12 19-7-7 7-7"></path><path d="M19 12H5"></path></svg
    > Back to blog</a
  >
  <br />
  <h3 class="text-8xl font-black">{frontmatter.title}</h3>
  <h3 class="text-zinc-400 text-2xl font-bold mt-3">
    Published on: {new Date(frontmatter.pubDate).toLocaleDateString("en-us")}
  </h3>
  <br /><br />
  <div class="post">
    <slot class="leading-7 mt-1" />
  </div>
</BaseLayout>
